@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Monteserrat", sans-serif;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #06a055;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  background: white;
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 14px 24px;
  cursor: pointer;
}

/* .react-tabs__tab--selected {
  background: #fff;
  border: 1px solid #06a055 !important;
  color: black;
  border-radius: 5px;
  outline: none;
} */

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
